@import 'tailwindcss';

html, body, #__next {
  height: 100%;
}

body {
  background-color: rgb(2 6 23);
  color: white;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.card {
  background-color: rgb(30 41 59);
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
